<div class="foot container-fluid">
	<div class="foot-nav row">
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h3>了解易恒</h3>
			<ul>
				<li><a href="##">企业简介</a><span>></span></li>
				<li><a href="##">发展历程</a><span> ></span></li>
				<li><a href="##">企业荣耀</a><span> ></span></li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h3>新闻资讯</h3>
			<ul>
				<li><a href="##">易恒动态</a><span> ></span></li>
				<li><a href="##">行业新闻</a><span> ></span></li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h3>企业服务</h3>
			<ul>
				<li><a href="##">服务内容</a><span> ></span></li>
				<li><a href="##">合作伙伴</a><span> ></span></li>
				<li><a href="##">我们的优势</a><span> ></span></li>
				<li><a href="##">服务案例</a><span> ></span></li>
			</ul>
		</div>	
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h3>成功案例</h3>
			<ul>
				<li><a href="##">膳食营养</a><span> ></span></li>
				<li><a href="##">保健健康</a><span> ></span></li>
				<li><a href="##">传统滋补</a><span> ></span></li>
				<li><a href="##">更过...</a><span> </span></li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h3>招贤纳士</h3>
			<ul>
				<li><a href="##">热招职位</a><span> ></span></li>
				<li><a href="##">选择易恒</a><span> ></span></li>
				<li><a href="##">易恒小伙伴</a><span> ></span></li>
			</ul>
		</div>	
		<div class="col-lg-2 col-md-2 col-sm-2">
			<h3>联系方式</h3>
			<ul>
				<li><a href="##">寻求合作</a><span> ></span></li>
				<li><a href="##">联系方式</a><span> ></span></li>
			</ul>
		</div>	
	</div>
	<div class="foot-us">
		<p>联系我们 <i></i> 员工通道</p>
		<p>沪|CP备14010467号-5 Copyright &copy; 2014-2015 ECMOHO.一加三餐-易恒官网 版权所有</p>
	</div>
</div>