<div class="head container-fluid">
		<!-- 导航条 -->
		<!--<div class="row">-->
			<div class="head-nav row">
				<div class="head-logo col-lg-2 col-md-2 col-sm-2 col-xm-2col-lg-offset-1 col-md-offset-1">
					<img src="__IMG__/header_logo.png" alt="">
				</div>
				<ul class="nav col-lg-7 col-md-8 col-sm-9 pull-right ">
					<li class="active">
						<a href="##">关于易恒</a>
						<span class="one"></span>
						<ul class="er-nav">
							<li><a href="##">易恒</a></li>
							<li><a href="##">历史</a></li>
							<li><a href="##">荣耀</a></li>
						</ul>
					</li>
					<li class="active">
						<a href="##">产品服务</a>
						<span class="two"></span>
						<ul class="er-nav">
							<li><a href="{:U('Other/service')}">服务内容</a></li>
							<li><a href="{:U('Other/business')}">合作伙伴</a></li>
							<li><a href="##">我们的优势</a></li>
							<li><a href="##">服务案例</a></li>
							<li><a href="##">自有品牌</a></li>
						</ul>
					</li>
					<li class="active">
						<a href="##">新闻资讯</a>
						<span class="three"></span>
						<ul class="er-nav">
							<li><a href="##">行业动态</a></li>
							<li><a href="##">易恒新闻</a></li>
						</ul>
					</li>
					<li class="active">
						<a href="##">招纳贤士</a>
						<span class="four"></span>
						<ul class="er-nav">
							<li><a href="##">热招职位</a></li>
							<li><a href="##">选择易恒</a></li>
							<li><a href="##">易恒小伙伴</a></li>
						</ul>
					</li>
					<li class="active">
						<a href="##">联系我们</a>
						<span class="five"></span>
						<ul class="er-nav">
							<li><a href="{:U('Other/hezuo')}">寻求合作</a></li>
							<li><a href="##">联系方式</a></li>
						</ul>
					</li>
					<li class="dropdown">
					      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					        		<span class="guoqi"></span>
					        		<span class="caret"></span>
					      	</a>
					      	<ul class="dropdown-menu">
						        <li><img src="" alt=""></li>     
					      	</ul>
					</li>
					<li class="phone">
						<span class="phone-ion"></span>
						021-61132270
					</li>	
				</ul>
				<!-- 导航栏nav2 -->
				<div class="nav2 col-sm-4 col-xm-4 puli-right">
					<span class="nav2-ion">o</span>
					<div class="dropdown">
					      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					        		<span class="guoqi"></span>
					        		<span class="caret"></span>
					      	</a>
					      	<ul class="dropdown-menu">
						        <li><img src="" alt=""></li>     
					      	</ul>
					</div>
					<div class="phone">
						<span class="phone-ion"></span>
						021-61132270
					</div>	
				</div>
				<!--<div class="col-lg-1"></div>-->
			</div>
		<!--</div>-->
</div>