<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta name="description" content="">  
    <meta name="author" content="">  
    <title>易恒</title>
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/yewu.css">
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="__CSS__/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--头部导航 -->
	<include file="Public/head" /> 
			
<!-- 轮播图 banner-->
	
	<div class="lun">
		<ul class="lun-pic">
			<li class="lun1 active">
				<h1>让人们更健康 让世界更美好</h1>
				<p>we bring the health brand into millions of families 
				</p>
				<p>make people healthler and make the world</p>
				<a href="##" class="about-us"><span>ABOUT AS ></span></a>
			</li>
			<li class="lun2">
				<h1>让人们更健康 让世界更美好</h1>
				<p>we bring the health brand into millions of families 
				</p>
				<p>make people healthler and make the world</p>
				<a href="##" class="about-us"><span>ABOUT AS ></span></a>
			</li>
			<li class="lun3">
				<h1>让人们更健康 让世界更美好</h1>
				<p>we bring the health brand into millions of families 
				</p>
				<p>make people healthler and make the world</p>
				<a href="##" class="about-us"><span>ABOUT AS ></span></a>
			</li>
		</ul>
		<ul class="lun-num">
			<li class="shownum">
			</li>
			<li>
			</li>
			<li>
			</li>
		</ul>
	</div>
	

	
<!-- 了解易恒、合作伙伴 -->
	<h1 class="knowyi">了解易恒</h1>
	<div class="session-yiheng container-fluid">
	<!-- 了解易恒 -->
		<div class="know row">
			<div class="know-all">
				<div class="odd">
					<p>关于易恒</p>
					<h2>ABOUT</h2>
					<span class="color1"></span>
				</div>
				<div class="even">
					<p>服务内容</p>
					<h2>SERVICE</h2>
					<span class="color2"></span>
				</div>
				<div class="odd">
					<p>我们的优势</p>
					<h2>ADVANTAGE</h2>
					<span class="color3"></span>
				</div>
				<div class="even">
					<p>易恒动态</p>
					<h2>DYNAMIC</h2>
					<span class="color4"></span>
				</div>
				<div class="odd">
					<p>行业新闻</p>
					<h2>NEWS</h2>
					<span class="color5"></span>
				</div>
			</div>	
		</div>
	<!-- 合作伙伴 -->
		<div class="hezuo row">
			<h1>合作伙伴</h1>
			<!--<a href="##" class="hezuo-more">more ></a>-->
			<div class="hezuo-ion1">
				<div>
					<img src="__IMG__/logo_03.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_05.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_07.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_09.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_11.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_13.png" alt="" />
				</div>
			</div>
			<div class="hezuo-ion2">
				<div>
					<img src="__IMG__/logo_16.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_18.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_20.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_22.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_24.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_26.png" alt="" />
				</div>
				<div>
					<img src="__IMG__/logo_28.png" alt="" />
				</div>
				
			</div>
			
		</div> 

	</div>


<!-- 易恒业务 -->
	<div class="yewu">
		<!--<div class="yewu-bg">
			<img src="img/易恒业务bg.jpg" alt="" />
		</div>-->
		<div class="inner container-fluid">
			<h1>易恒业务</h1>
			<p class="yewu-jieshao">易恒健康，专注于线上健康品销售，是互联网+大健康+跨境+020的健康产业垂直整合者。<br />公司成立于2002年，总部坐落于上海市商业中心徐汇区，在上海、广州、苏州、北京、香港等地设有办公点，以及在欧洲、美国、日本等国家设<br />有分支机构，同时咋上海、浙江、郑州等地设有恒温仓库。
			</p>
			<div class="yewu-ion row">
				<div class="col-md-2 col-sm-2">
					<img src="__IMG__/yewu00.png" alt="" />
					<p class="ion-zn">Marketing and sales <br />management</p>
					<p class="ion-cn">营销与销售管理</p>
				</div>
				<div class="col-md-2 col-sm-2">
					<img src="__IMG__/yewu01.png" alt="" />
					<p class="ion-zn">Supply<br />chain</p>
					<p class="ion-cn">供应链管理</p>
				</div>
				<div class="col-md-2 col-sm-2">
					<img src="__IMG__/yewu02.png" alt="" />
					<p class="ion-zn">Traffic <br />management</p>
					<p class="ion-cn">流量管理</p>
				</div>
				<div class="col-md-2 col-sm-2">
					<img src="__IMG__/yewu03.png" alt="" />
					<p class="ion-zn">Technical <br />solution</p>
					<p class="ion-cn">技术解决方案</p>
				</div>
				<div class="col-md-2 col-sm-2">
					<img src="__IMG__/yewu04.png" alt="" />
					<p class="ion-zn">Brand <br />management</p>
					<p class="ion-cn">品牌管理</p>
				</div>
				<div class="col-md-2 col-sm-2">
					<img src="__IMG__/yewu05.png" alt="" />
					<p class="ion-zn">Physical distribution <br />management</p>
					<p class="ion-cn">物流管理</p>
				</div>
			</div>
		</div>
	</div>



<!--成功案例-->
	<div class="case">
		<h1>成功案例</h1>
		<div class="case-ion">
			<div>
				<img src="__IMG__/demo_03.jpg" alt="" />
			</div>
			<div>
				<img src="__IMG__/demo_05.jpg" alt="" />
			</div>
			<div>
				<img src="__IMG__/demo_07.jpg" alt="" />
			</div>
			<div>
				<img src="__IMG__/demo_09.jpg" alt="" />
			</div>
			<div>
				<img src="__IMG__/demo_15.jpg" alt="" />
			</div>
			<div>
				<img src="__IMG__/demo_16.jpg" alt="" />
			</div>
			<div>
				<img src="__IMG__/demo_17.jpg" alt="" />
			</div>
			<div>
				<img src="__IMG__/demo_18.jpg" alt="" />
			</div>
		</div>
	</div>


<!--全球办公地方-->

	<div class="local container-fluid">
		<img src="__IMG__/bangogndian.jpg" alt="" />
		<div class="local-link row">
			<div class="address col-lg-4 col-xs-12 col-lg-offset-1">
				<span></span>
				<div class="link-text">
					<p class="link-up">Address</p>
					<p class="link-down">上海市徐汇区天玥桥路1000号徐汇苑商务楼2/3F</p>
				</div>
			</div>
			<div class="email col-lg-3">
				<span></span>
				<div class="link-text">
					<p class="link-up">Email</p>
					<p class="link-down">shacwei@ecmoho.com</p>
				</div>
			</div>
			<div class="call col-lg-2">
				<span></span>
				<div class="link-text">
					<p class="link-up">Call us</p>
					<p class="link-down">021-61132270</p>
				</div>
			</div>
		</div>
	</div>
	
	


<!--底部链接-->
<include file="Public/foot" /> 










<!-- 引入js -->
	<script src="__JS__/jquery-1.12.4.min.js"></script>
	<script src="__JS__/bootstrap.js"></script>
	<script src="__JS__/head.js"></script>
	<!--<script src="js/rem.js"></script>-->
	<!--<script src="js/bootstrap.min.js"></script>-->
</body>
</html>




