<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<meta name="description" content="">  
	<meta name="author" content="">  
	<title>易恒</title>
	<link rel="stylesheet" href="__CSS__/reset.css">
	<link rel="stylesheet" href="__CSS__/style.css">
	<link rel="stylesheet" href="__CSS__/yewu.css">
	<link rel="stylesheet" href="__CSS__/business.css">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="__CSS__/bootstrap.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!--头部导航 -->
	<include file="Public/head" /> 

<!-- 头部背景图 -->
	<div class="business-bg container-fluid">
		<div class="bg1 row">
			<h1>PARTNER</h1>
			<h3>Business partner</h3>
			<h5>合作伙伴</h5>
			<div class="downrow">
				<p>ECMOHO</p>
				<p></p>
			</div>
			<p>保健品</p>
			<h4>HEALTH-CARE</h4>
			<div class="col-lg-9 col-md-11 col-sm-11  col-xs-12 inner">
				<ul class="row">
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_03.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_06.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_08.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_10.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_16.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_17.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_18.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_19.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_24.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_25.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_26.jpg" alt="">
					</li>
					<li class="col-lg-3 col-md-3 col-sm-3  col-xs-3">
						<img src="__IMG__/hezuologo_27.jpg" alt="">
					</li>
				</ul>
			</div>
			
		</div>	
	</div>

<!-- 食品、母婴 -->
	<div class="food container-fluid">
		<ul class="food-title">
			<li>
				<p>食品</p>
				<h2>FOOD&BEVERAGE</h2>
			</li>
			<li class="line"></li>
			<li>
				<p>母婴</p>
				<h2>MOM&BABY</h2>
			</li>
		</ul>
		<div class="row">
				<div class="col-lg-10 col-md-10 col-sm-10  col-xs-10 inner">
					<ul class="row">
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_32.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_33.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_34.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_35.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_36.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/Business.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_38.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_39.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_40.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_41.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_42.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_43.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_44.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_45.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_46.jpg" alt=""></li>
						<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img src="__IMG__/hezuologo_47.jpg" alt=""></li>
					</ul>
				</div>
		</div>
		
	</div>

<!-- 个护、滋补、医药 -->
<div class="business-gehu">
	<div class="gehu-bg1">
	</div>
	<!-- <div class="gehu-bg2">
	</div> -->
	<div class="gehu-content container-fluid">
		<ul class="gehu-text">
			<li class="">
				<p>个护</p>
				<h2>PERSONAL CASE</h2>
			</li>
			<li class="line"></li>
			<li class="">
				<p>滋补</p>
				<h2>TONIC</h2>
			</li>
			<li class="line"></li>
			<li class="">
				<p>医药</p>
				<h2>PHARMCEUTICAL</h2>
			</li>
		</ul>
		<div class="row">
			<div class="col-lg-9 col-md-11 col-sm-11  col-xs-12 inner">
				<ul class="gehu-ion row">
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_52.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_53.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_54.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_55.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_60.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_61.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_62.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_63.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_68.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_69.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_70.jpg" alt=""></li>
					<li class="col-lg-3 col-md-3 col-sm-4  col-xs-4"><img src="__IMG__/hezuologo_71.jpg" alt=""></li>
				</ul>
			</div>
		</div>
		
	</div>
</div>

<!-- 联系我们 -->
<div class="business-link">
	<div class="local-link row">
		<div class="address col-lg-4 col-lg-offset-1">
			<span></span>
			<div class="link-text">
				<p class="link-up">Address</p>
				<p class="link-down">上海市徐汇区天玥桥路1000号徐汇苑商务楼2/3F</p>
			</div>
		</div>
		<div class="email col-lg-3">
			<span></span>
			<div class="link-text">
				<p class="link-up">Email</p>
				<p class="link-down">shacwei@ecmoho.com</p>
			</div>
		</div>
		<div class="call col-lg-2">
			<span></span>
			<div class="link-text">
				<p class="link-up">Call us</p>
				<p class="link-down">021-61132270</p>
			</div>
		</div>
	</div>
</div>





	
<!--底部链接-->
	<include file="Public/foot" /> 


<!-- 引入js -->
	<script src="__JS__/jquery-1.12.4.min.js"></script>
	<script src="__JS__/bootstrap.js"></script>
	<script src="__JS__/head.js"></script>
	<!--<script src="js/rem.js"></script>-->
	<!--<script src="js/bootstrap.min.js"></script>-->


</body>
</html>