<!-- 首页-联系我们-寻求合作 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta name="description" content="">  
    <meta name="author" content="">  
    <title>易恒</title>
    <link rel="stylesheet" href="__CSS__/cooperation.css">
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/yewu.css">
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="__CSS__/bootstrap.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<include file="Public/head" /> 
<!-- 背景图 -->
	<div class="hezuo-bg">
		<div class="hezuo-bg1">
		</div>
		<div class="hezuo-text">
			<h1>COOPERATION</h1>
			<h3>ECHOMOS</h3>
			<h2>COOPERATION</h2>
			<h4>寻求合作</h4>
		</div>
	</div>

	<div class="hezuo-form container-fluid">
		<div class="row">
			<div class="col-lg-7 col-md-9  col-sm-7 inner">
				<form action="" class="row">
					<input type="text" name="" id="" class="center-block col-lg-7 col-md-8  col-sm-8  col-xs-8" placeholder="您的联系方式:">
					<input type="text" name="" id="" class="center-block col-lg-7 col-md-8  col-sm-8  col-xs-8" placeholder="您的邮箱:">
					<textarea name="" id="" cols="30" rows="10" class="center-block col-lg-7 col-md-8 col-sm-8  col-xs-8" placeholder="您的合作意向:"></textarea>
					<input type="button" value="登录" class="center-block but col-lg-3 col-md-4  col-sm-5 col-xs-5">
				</form>
			</div>
		</div>
		
	</div>

<!-- 全球分支 -->
<div class="hezuo-local">
	<h1>OUR GLOBAL NETWORK</h1>
	<p>全球分支</p>
	<div class="local-img">
		<img src="__IMG__/map.jpg" alt="">
	</div>
</div>

<!-- 联系我们 -->
<div class="hezuo-link container-fluid">
	<div class="local-link row">
		<div class="address col-lg-4 col-lg-offset-1">
			<span></span>
			<div class="link-text">
				<p class="link-up">Address</p>
				<p class="link-down">上海市徐汇区天玥桥路1000号徐汇苑商务楼2/3F</p>
			</div>
		</div>
		<div class="email col-lg-3">
			<span></span>
			<div class="link-text">
				<p class="link-up">Email</p>
				<p class="link-down">shacwei@ecmoho.com</p>
			</div>
		</div>
		<div class="call col-lg-2">
			<span></span>
			<div class="link-text">
				<p class="link-up">Call us</p>
				<p class="link-down">021-61132270</p>
			</div>
		</div>
	</div>
</div>


<!--底部链接-->
<include file="Public/foot" /> 

<!-- 引入js -->
<script src="__JS__/jquery-1.12.4.min.js"></script>
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/head.js"></script>
<script src="__JS__/jquery.placeholder.min.js"></script>
<script>
	$(function() {
	        $("input textarea").placeholder();
	 });
</script>
	<!--<script src="js/rem.js"></script>-->
	<!--<script src="js/bootstrap.min.js"></script>-->
</body>
</html>
