<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<meta name="description" content="">  
	<meta name="author" content="">  
	<title>易恒</title>
	<link rel="stylesheet" href="__CSS__/reset.css">
	<link rel="stylesheet" href="__CSS__/style.css">
	<link rel="stylesheet" href="__CSS__/yewu.css">
	<link rel="stylesheet" href="__CSS__/business.css">
	<link rel="stylesheet" href="__CSS__/history.css">
	<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="__CSS__/bootstrap.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!--头部导航 -->
<include file="Public/zonhead" /> 

<!-- 头图 -->
<div class="history">
	<!-- <img src="__IMG__/history-bg.jpg" alt=""> -->
	<h1>JUST FOR NO.1 <span></span></h1>
</div>

<!-- 主体部分 -->
<div class="history-main container-fluid">
<!-- 标题 -->
	<div class="row ">
		<div class="col-lg-6 nav1">
			<!-- <img src="__IMG__/hr.jpg" alt=""> -->
			<a href="##">
				<h3>ABOUT ECMOHO</h3>
				<p>关于易恒</p>
			</a>

		</div>
		<div class="col-lg-6 nav2">
			<!-- <img src="__IMG__/hrhover.jpg" alt=""> -->
			<a href="##">
				<h3>OUR HISTORY</h3>
				<p>易恒历史</p>
			</a>
			
		</div>
	</div>
<!-- 内容 -->
	<div class="row main-content">
		<img src="__IMG__/his_logo.png" alt="">
		<p>ECMOHO'S</p>
		<h1>HISTORY</h1>
		<div class="col-lg-10 center">
			<div class="row item">
				<div class="odd col-lg-6">
					<div class="line"><img src="__IMG__/hlines.png" alt=""></div>
					<div class="num">
						<h2>2002<span></span></h2>
						<h4>SET UP</h4>
						<p>易恒健康公司成立，专注健康品线上零售领域</p>
					</div>
				</div>
				<div class="even col-lg-6">
					<div class="line"><img src="__IMG__/hlines.png" alt=""></div>
					<!-- <div class="num">
						<h2>2002<span></span></h2>
						<h4>SET UP</h4>
						<p>易恒健康公司成立，专注健康品线上零售领域</p>
					</div> -->
				</div>
			</div>
			<!-- <div class="row item">
				<div class="even col-lg-6 pull-right">
					<div class="line"><img src="__IMG__/hlines.png" alt=""></div>
					<div class="num">
						<h2>2002<span></span></h2>
						<h4>SET UP</h4>
						<p>易恒健康公司成立，专注健康品线上零售领域</p>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>





<!-- 联系我们 -->
<div class="business-link">
	<div class="local-link row">
		<div class="address col-lg-4 col-lg-offset-1">
			<span></span>
			<div class="link-text">
				<p class="link-up">Address</p>
				<p class="link-down">上海市徐汇区天玥桥路1000号徐汇苑商务楼2/3F</p>
			</div>
		</div>
		<div class="email col-lg-3">
			<span></span>
			<div class="link-text">
				<p class="link-up">Email</p>
				<p class="link-down">shacwei@ecmoho.com</p>
			</div>
		</div>
		<div class="call col-lg-2">
			<span></span>
			<div class="link-text">
				<p class="link-up">Call us</p>
				<p class="link-down">021-61132270</p>
			</div>
		</div>
	</div>
</div>


<!--底部链接-->
<include file="Public/foot" /> 


<!-- 引入js -->
<script src="__JS__/jquery-1.12.4.min.js"></script>
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/head.js"></script>
	<!--<script src="js/rem.js"></script>-->
	<!--<script src="js/bootstrap.min.js"></script>-->
</body>
</html>