

/*头部背景图*/
.business-bg .bg1 {
	width: 100%;
	height: 423px;
	background: url(../img/合作伙伴bg_01.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
    position: relative;
	text-align: center;
	color: #fff;
	padding-top: 10%;
}
.business-bg .bg1 p {
	margin: 0;
	font-size: 16px;

}
.business-bg .bg1 h1 {
	margin: 0;
	font-size: 50px;
}

.business-bg .bg2 p {
	margin: 0;
	font-size: 16px;
}

.business-bg .bg2 {
	width: 100%;
	height: 421px;
	background: url(../img/合作伙伴bg_02.jpg);
    background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
    width: 100%;
    position: relative;
	padding-bottom: 20px;
}
.business-bg .bg1 h3 {
	color: #ea0117;
	font-size: 25px;

}
.business-bg .bg1 h5 {
	color: #e8414b;
	font-size: 20px;
}
.business-bg .bg1 .downrow p {
	color: #666664;
	font-size: 16px;

}
.business-bg .bg1 p {
	color: #666664;
	font-size: 25px;
	margin: 0;
	text-align: center;
	line-height: 55px;

}
.business-bg .bg1 h4 {
	color: #4b4b4b;
	font-size: 20px;
	margin: 0;
	text-align: center;
	margin-bottom: 10px;


}
.business-bg .bg2 ul {
	overflow: hidden;
	text-align: center;
}
.business-bg .bg2 ul  li {
	display: inline-block;
	margin-right: 5px;
}
.business-bg .bg2 ul img  {
}

/*============媒体查询==============*/

/*@media screen and (min-width:1200px) {
	.business-bg .bg2 ul li {
		width: 16%;
	}
	.business-bg .bg2 ul li img {
		width: 100%;
	}
}*/

/*@media screen and (min-width:1200px) {
	.business-bg .bg2 ul li {
		width: 20%;
	}
	.business-bg .bg2 ul li img {
		width: 100%;
	}
}*/




/*.business-bg .bg {
	height: 1198px;
}
.business-bg .bg img {
	width: 100%;
}*/
/*@media screen and (min-width: 1000px) {
	.business-bg .bg img {
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	.business-bg .bg img {
		width: 110%;
	}
}

@media screen and (min-width: 400px) {
	.business-bg .bg img {
		width: 120%;
	}
}*/

/*食品、母婴*/
.food {
	padding-top: 4%;
}
.food ul {
	text-align: center;
}
.food ul li {
	display: inline-block;
	text-align: center;
}
.food ul li p {
	font-size: 22px;
}
.food ul li.line {
	width: 2px;
    	height: 21px;
    	background: #000;
    	margin: 0 10px;
}


/*个护、滋补、医药*/
.business-gehu {
	position: relative;
}
.gehu-bg1 {
	height: 415px;
	background: url(../img/合作伙伴bg_04.jpg) no-repeat  center;
	/*padding-top: 5%;
	padding-bottom: 5%;*/
}

.gehu-bg2 {
	height: 370px;
	background: url(../img/合作伙伴bg_05.jpg) no-repeat  center;
}
.gehu-content {
	position: absolute;
	top: 8%;
	width: 100%;
}
.gehu-content .gehu-text p {
	font-size: 20px;
}
.gehu-content .gehu-text .line {
	width: 2px;
	height: 30px;
	background: #bcbbb7;
	margin: 0 10px;
}
.business-gehu  ul {
	overflow: hidden;
	text-align: center;
	/*padding-top: 5%;*/
	/*padding-bottom: 5%;*/
}
.business-gehu  ul li {
	/*float : left;*/
	display: inline-block;
	text-align: center;
	margin-right: 5px;
}



/*联系地址*/
.business-link {
	background: #be1e1e;
}
.business-link .local-link  div {
	display: inline-block;
}