
/*body { 
	min-width: 400px; 
	width:expression(document.body.clientWidth < 400? "400px": "auto" ); 
} 
*/
/*=====导航栏设置======*/
.head.container-fluid {
	width: 100%;
	/*padding: 10px 0;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}
.head.container-fluid>.row {
	padding: 25px 0;
}
.head.container-fluid .inner {
	float: none;
	margin: 0 auto;
	/*padding: 0;*/
	color: #fff;
}
.head.container-fluid .inner .head-info {
	text-align: center;
	color: #fff;
	margin-top: 9px;
	padding: 0;
}
.head.container-fluid .inner .head-info li {
	padding: 0;
}
.head.container-fluid .inner .head-info a {
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	padding: 0;
}
.head ul.nav li.active span {
	display: none;
    width: 60px;
    height: 3px;
    background: #f6e73e;
    margin: 0 auto;
} 
.head ul.nav li.active span.one {
    background: #f6e73e;
} 
.head ul.nav li.active span.two {
    background: #e60012;
} 
.head ul.nav li.active span.three {
    background: #00ace5;
} 
.head ul.nav li.active span.four {
    background: #f9b121;
} 
.head ul.nav li.active span.five {
    background: #a4a9ac;
}
.head.container-fluid .inner .head-ions {
	padding: 0;
	margin-top: 12px;
}
.head.container-fluid .inner .head-ions .dropdown{
	padding: 0;
}



.head.container-fluid .inner .head-ions .caret {
	color: #fff;
}
.head.container-fluid .inner .head-ions .phone {
	padding: 0;
}
/*.head.container-fluid {
	width: 100%;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}

.head .head-nav {
	overflow: hidden;
	padding-top: 1%;
    padding-bottom: 1%;
	margin: 0;
	position: relative;
}
.head .head-logo {
	padding: 0;

}

.head-nav ul.nav {
	line-height:40px;
	padding: 0;
}
.head-nav ul.nav li {
	color: #fff;
	position: relative;
	float: left;
	width: 75px;
}
.head-nav ul.nav li.dropdown {
	width: 60px;
}
.head-nav ul.nav li.phone {
	width: 145px;
}

.head ul.nav li a {
	background: transparent;
	text-align: center;
	padding: 0;
	color: #fff;
}
.head ul.nav li.active span {
	display: none;
    width: 60px;
    height: 3px;
    background: #f6e73e;
    margin: 0 auto;
} 
.head ul.nav li.active span.one {
    background: #f6e73e;
} 
.head ul.nav li.active span.two {
    background: #e60012;
} 
.head ul.nav li.active span.three {
    background: #00ace5;
} 
.head ul.nav li.active span.four {
    background: #f9b121;
} 
.head ul.nav li.active span.five {
    background: #a4a9ac;
} */
/*二级导航栏*/
ul.nav li ul.er-nav {
	margin-top: 5px;
	display: none;
	
}
.head ul.nav li.active ul.er-nav li {
	width: 100%;
	text-align: center;
	line-height: 20px;

}
.head ul.nav li.active ul.er-nav li a {
	color: #fff;
}

.head ul.nav li.active ul.er-nav li a:hover {
	text-decoration: none;
}
.head .guoqi {
	vertical-align: middle;
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url(../img/header_bg.png) 2px 1px no-repeat;
}
.head .phone-ion {
	display: inline-block;
	width: 30px;
	height: 25px;
	vertical-align: middle;
	background: url(../img/header_bg.png) -26px 1px no-repeat;
}

/*替换nav2*/
.head-nav .nav2 {
   	display: none;
   	/*position: relative;*/
}
.head-nav .nav2 .nav2-ion {
	display: inline-block;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: inherit;
	text-align: right;
}
.head-nav .nav2 ul {
	text-align: right;
    margin-top: 10%;
    display: none;
}
.head-nav .nav2 ul li {
	margin-bottom: 5%;
}
.head-nav .nav2 ul a {
	color: #fff;
	line-height: 10%;
	padding: 5px 0;
	font-size: 14px!important;
}
.head-nav .nav2 ul a:hover {
	text-decoration: none;
}
/*.head-nav .nav2 div{
   	display: inline-block;
}*/
/*媒体查询*/
@media screen and (max-width: 768px) {
   /*导航条*/
   	.head-nav .nav {
   		display: none;
   	}
   	.head-nav .head-ions {
   		display: none;
   	}
   	.head-nav .nav2 {
   		display: block;
   		vertical-align: middle;
   	}


}


/*=================轮播图================*/
/*图片*/

.lun {
	position: relative;
}
.lun .lun-pic {
	overflow: hidden;
	clear: both;
	margin: 0;
}
.lun .lun-pic li {
	margin-top: -20px!important;
}

.lun .lun-pic li:first-child {
	background: url(../img/banner01.jpg) no-repeat center;

}
.lun .lun-pic li.lun2 {
	background: url(../img/banner02.jpg) no-repeat center;

}
.lun .lun-pic li.lun3 {
	background: url(../img/banner03.jpg) no-repeat center;

}
/*.lun .lun-pic li {
	background: url(../img/banner01.jpg) no-repeat center;

}*/
.lun .lun-pic li {
	text-align: center;
	padding-top: 220px;
    padding-bottom: 315px;
	color: #fff;
	float：left;
	display: none;
}
.lun .lun-pic .active {
	display: block;
}
.lun .lun-pic {
	position: relative;
}
.lun .lun-pic div {
	position: absolute;
    top: 170px;
    width: 100%;
    text-align: center;
    color: #fff;
	
}
.lun .lun-pic h1 {
	font-size: 40px;
    font-weight: bold;

}
.lun .lun-pic p {
	margin: 1px 0;
	font-size: 16px;
}
.lun .lun-pic a {
	display: inline-block;
	text-align: center;
	padding: 8px 30px;
	/**padding: 0.5px 1.5px;*/
	border: 2px solid #dad5d1;
	font-weight: bold;
	margin-top: 20px;
	color: #fff;

}
.lun .lun-pic a span {
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: bold;
}
.lun .lun-pic a div {
	display: inline-block;
	/*padding: 5px 15px;*/
}
.lun .lun-pic a:hover {
	text-decoration: none;
}


/*索引*/
.lun-num {
	bottom: 70px!important;
}
.lun .lun-num {
	margin: 0 auto;
	position: absolute;
	bottom: 110px;
	left: 50%;
	margin-left: -50px;
}
.lun .lun-num li {
	float: left;
	margin-right: 20px;
}
/*显示的轮播索引*/
.lun-num .shownum {
	width: 30px;
	height: 10px;
	background: #efd91d;
	border-radius: 15px;

}
/*隐藏的轮播索引*/
.lun-num li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #717275;
	cursor: pointer;
}
@media screen and (min-width: 1200px) {
	.lun .lun-pic h1 {
		font-size: 60px;
	    font-weight: normal;
	}
	.lun .lun-pic p {
		font-size: 18px;
	}
}
/*=====了解易恒、合作伙伴====*/
.knowyi {
	color: #fff;
   	font-size: 32px;
    position: relative;
   	top: -60px;
    text-align: center;
}
.session-yiheng {
	background: #1d1d1d;
	overflow: hidden;
	margin-top: -105px;
}
.session-yiheng .row .inner {
	float: none;
	margin: 0 auto;
}
.session-yiheng h1 {
	text-align: center;
}
/*了解易恒*/
.know {
	width: 100%;
	margin-top: 40px;
    overflow: hidden;
}
.know h1 {
	color: #fff;
}
.know .know-all {
	overflow: hidden;
	margin: 0 auto;
	float: none;
	/*width: 825px;*/
    padding: 0;
    
}
.know>div {
	/*width: 165px;*/
    padding: 55px 25px;
    /*float: left;*/
    color: #fff;
	cursor: pointer;
}
.know div.odd div,.know div.even div {
	width: 70%;
	margin: 0 auto;
	margin: 35% auto;
}
.know div.odd {
	background: #252525;
}
.know div.even {
	background: #363636;
}
.know  p {
	margin: 0;
	font-size: 20px;
}
.know  h2 {
	margin: 6px 0;
	font-size:  26px;
}
.know div span {
	width: 24px;
	height: 4px;
	display: block;
	transition: width 0.5s ease-in-out;
	-webkit-transition: width 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out;
	-o-transition: width 0.5s ease-in-out;
}
/*.know .odd div:hover span,.know .even div:hover span {
	width: 100%;
}*/
.know div span.color1 {
	background: #f9b121;
}
.know div span.color2 {
	background: #e60012;
}
.know div span.color3 {
	background: #01b8af;
}
.know  div span.color4 {
	background: #00ace5;
}
.know div span.color5 {
	background: #fd5420;
}

/*@media screen and (max-width: 900px) {
	.know .know-all {
		width: 700px;
	}
	.know div {
		    width: 140px;
		    padding: 45px 13px;
		    float: left;
		    color: #fff;
		    cursor: pointer;
	}
}*/


/*合作伙伴*/
.hezuo {
	margin-top: 50px;
	margin-bottom: 20px;
}
.hezuo h1 {
	font-size: 28px;
	color: #fff;
}
.hezuo .hezuo-ion1 {
	text-align: center;
	float: none;
	margin: 0 auto;

}
.hezuo .hezuo-ion1 div {
	display: inline-block;
	margin: 0 12px;
	/*margin: 0 auto;*/
}
.hezuo .hezuo-ion1 div +div {
	margin-left: 2%;
}
.hezuo .hezuo-ion2 {
	text-align: center;
	margin-bottom: 30px;
}
.hezuo .hezuo-ion2 div {
	display: inline-block;
	/*margin: 0 auto;*/
}
.hezuo .hezuo-ion2 div +div {
	margin-left: 2%;
}

/*.hezuo img {
	width: 90%;
}*/




















